<mat-toolbar class="example-header">
  <p><button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button></p>
  <h1 routerLink="/">Notes App</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">

    <nav *ngIf="notes">
      <ul>
        <li *ngFor="let note of notes" fxLayoutAlign="center center">
          <button mat-button class="navigate-button" (click)="navigate(note._id)">
            <mat-icon class="launch-icon">folder_open</mat-icon>
          </button>
          <div class="folderName" (click)="onClickScroll(note._id)">{{note.folderName}}</div>

        </li>
      </ul>
    </nav>

  </mat-sidenav>

  <mat-sidenav-content>
    <div fxFlex="100" class="sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
