body,
html {
  scroll-behavior: smooth !important;
}

.example-container {
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;

  ul {
    padding-left: 0rem;

    li {
      place-content: start !important;
      list-style: none;
      margin: 0px 0;
      color: rgb(234, 234, 234);
    }
  }
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  background: #2d4244;
}
.sidenav-content {
  padding: 2rem 3rem 5rem 1rem;
}
.example-header {
  position: fixed;
  background-color: #fafafa;
  box-shadow: 1px 1px 5px rgb(192, 192, 192);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.launch-icon {
  color: rgb(234, 234, 234);
  font-size: 16px;
}
.navigate-button {
  padding: 3px;
  min-width: 35px !important;
  &:hover {
    background-color: rgba(194, 194, 194, 0.575);
  }
}
.folderName {
  vertical-align: middle;
  width: 100%;
  padding: 5px 4px;
  min-height: 30px;
  &:hover {
    cursor: pointer;
    background-color: rgba(194, 194, 194, 0.575);
  }
}
