body,
html {
  scroll-behavior: smooth !important;
}

.example-container {
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;

  ul {
    padding-left: 0rem;
    margin-left: 1rem;
    border-left: 1px solid white;
    li {
      place-content: start !important;
      list-style: none;
      margin: 5px 0;
      color: rgb(234, 234, 234);
    }
  }
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 268px;
  background: rgba(2, 131, 110, 0.836);
}
.sidenav-content {
  padding: 2rem 3rem 5rem 1rem;
}
.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.launch-icon {
  color: rgb(234, 234, 234);
  font-size: 16px;
}
.navigate-button {
  padding: 3px;
}
