<mat-toolbar class="example-header"><button routerLink="/">Header</button>
  <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">

    <nav *ngIf="notes">
      <ul>
        <li *ngFor="let note of notes" fxLayoutAlign="center center">
          <button mat-button class="navigate-button" (click)="navigate(note._id)">
            <mat-icon class="launch-icon">note</mat-icon> &nbsp;&nbsp;
          </button>
          <span (click)="onClickScroll(note._id)">{{note.folderName}}</span>

        </li>
      </ul>
    </nav>

  </mat-sidenav>

  <mat-sidenav-content>
    <div fxFlex="90" class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
    <div class="tools" fxFlex="10" fxHide fxShow.gt-md>
      <div>Hello</div>
      <button mat-raised-button>Testing</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
