<div class="note-card-container" *ngIf="notes" fxLayout="column">

  {{notes._id}}
  <h2>{{notes.category}}</h2>
  <p>{{notes.description}}</p>

  <button mat-raised-button (click)="openDialog()" color="primary"> Add new Note</button>
  <div fxLayout="row wrap">
    <div *ngFor="let note of notes.note">
      <mat-card class="note-card">
        <p>{{note.noteTitle}}</p>
        <p>{{note.noteBody}}</p>

        <hr>
        <div *ngFor="let links of note.links">
          <a target="_blank" href="https://www.google.com">{{links.linkTitle}}</a>

        </div>
        <mat-card-actions>
          <button>add link</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> <br>
<button mat-raised-button routerLink="/">Return Home</button>
