.note-card-container {
  padding: 1rem;
  button {
    width: 20rem;
    margin-bottom: 20px;
  }
  .header {
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

.note-card {
  width: 20rem;
}
.tags {
  margin: 0 10px 0;
  font-size: 12px;
  background-color: rgb(0, 101, 160);
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
}
.tags-container {
  font-size: 12px;

  margin-left: auto !important;
  display: flex;
  justify-content: space-between;
  b {
    padding: 5px 0;
  }
}
.note-title-container {
  width: 100%;
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    margin-right: 20px;
  }
}
.notes-wrapper {
  /*   font-family: Georgia, 'Times New Roman', Times, serif; */
  margin: 40px 0;

  > * {
    font-size: 15px;
    line-height: 20px;
    word-break: break-word;
  }
}
.menu {
  cursor: pointer;
  padding: 0.5rem 1rem 0 0;
}
.move {
  cursor: move;
  font-size: 14px;
}
.tools {
  position: sticky;
  top: 35px;
  right: 0;
  height: 100px;
  width: 100px;
}
.note-container {
  margin-bottom: 3rem;
}
.accordion-container {
  margin: 2rem 0;
}
.notes {
  padding-left: 2rem;
}
.note {
  padding-left: 2rem;
  margin-top: -2rem;
}
.clickable {
  cursor: pointer;
}
.showNotes {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 180px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.card {
  background-color: rgba(253, 253, 253, 0.815);
  box-shadow: 1px 1px 5px #bebebe;
  margin: 1rem 0;
  padding: 1rem 0;
  border-radius: 10px;
}
.expanded {
  background-color: rgba(253, 253, 253, 0.815);

  margin: 1rem 0;
  padding: 1rem 0;
}
