.note-card-container {
  padding: 1rem;
  button {
    width: 20rem;
    margin-bottom: 20px;
  }
}

.note-card {
  width: 20rem;
}
.tags {
  margin: 0 10px 0;
  font-size: 12px;
  background-color: rgb(0, 101, 160);
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
}
.tags-container {
  font-size: 12px;

  margin-left: auto !important;
  display: flex;
  justify-content: space-between;
  b {
    padding: 5px 0;
  }
}
.note-title-container {
  width: 100%;
  h1 {
    border-bottom: 1px solid rgb(223, 223, 223);
    font-size: 1.7rem;
    font-weight: 900;
    padding-bottom: 0.5rem;
    min-width: 10rem;
  }
}
.notes-wrapper {
  /*   font-family: Georgia, 'Times New Roman', Times, serif; */
  margin: 40px 0;

  > * {
    font-size: 15px;
    line-height: 20px;
    word-break: break-word;
  }
}
.menu {
  cursor: pointer;
  padding: 0.5rem 1rem 0 0;
}
.move {
  cursor: move;
  font-size: 14px;
}
.tools {
  position: sticky;
  top: 35px;
  right: 0;
  height: 100px;
  width: 100px;
}
.note-container {
  margin-bottom: 3rem;
  overflow: auto;
}
.accordion-container {
  margin: 2rem 0;
}
.notes {
  padding-left: 2rem;
  margin-bottom: 5rem;
}
.clickable {
  cursor: pointer;
}
.showNotes {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 180px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
