<div class="note-card-container" *ngIf="notes" fxLayout="column">

  {{notes._id}}
  <h2>{{notes.folderName}}</h2>
  <p>{{notes.description}}</p>

  <br>
  <!--   <div [innerHTML]="htmlStr"></div> -->
  <div class="notes-wrapper">
    <div *ngIf="notes.notes">
      <div *ngFor="let note of notes.notes">
        <div class="note-title-container">
          <h1 *ngIf="null !== note.noteTitle">{{note.noteTitle }}</h1>
          <div *ngIf="note.tags" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>arrow_right</mat-icon><b>Tags: </b>
            <span>
            </span> &nbsp;
            <p class="tags" *ngFor="let tag of note.tags">{{tag}} </p>
          </div>
        </div>


        <div [innerHTML]="note.noteBody"></div>
      </div>
    </div>
  </div>




  <br>
  <app-richtexteditor (note)="addNote($event)"></app-richtexteditor>
  <br>
  <button mat-raised-button (click)="openDialog()" color="primary"> Add new Note</button>

</div> <br>
<button mat-raised-button routerLink="/">Return Home</button>
