.example-card {
  width: 80%;
  margin-bottom: 5px;
  margin: auto;
}
.note-card-container {
  padding: 2rem;
}
.delete-button,
.menu {
  display: flex;
  justify-content: end;
}
#delete {
  color: red;
  display: block;
}
