.example-card {
  margin-bottom: 35px;
  box-shadow: none;
}
.note-card-container {
  padding: 1rem;
}
.delete-button,
.menu {
  display: flex;
  justify-content: space-between;
}
#delete {
  color: red;
  display: block;
}
.clickable:hover {
  cursor: pointer;
}
.heading {
  padding: 0 1rem;
}
